#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kumar One Outline', cursive;
  background: #D9E5EE;
  padding: 20px;
  border-bottom: 1px solid #BCD2E1;
}
